@import "variables";

body{
  color:$random;
}

.box{
  width:300px;
  height:300px;
  border: 2px solid black;
}

#green{background-color: green;}

#red{background-color: red;}

#yellow{background-color: yellow;}

#blue{background-color: blue;}
