doctype html
html
  head
    title Simon Game
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width",initial-scale="1")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet",href="/css/main.css")

  body

    audio#greenSound
      source(src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3",type="audio/mp3")
    audio#redSound
      source(src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3",type="audio/mp3")
    audio#yellowSound
      source(src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3",type="audio/mp3")
    audio#blueSound
      source(src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3",type="audio/mp3")

    .container
      h1 Simon Game
      .circle
        .row
          a(href="#")#green.col-xs-6.color
          a(href="#")#red.col-xs-6.color
          a(href="#")#yellow.col-xs-6.color
          a(href="#")#blue.col-xs-6.color
        .buttons
          h2#turn
      #controls
        .row
          .col-xs-12
            button(type="button")#play.btn.btn-success.myButton
              h3 Play
            button(type="button")#reset.btn.btn-danger.myButton
              h3 Reset
          .col-xs-12
            button(type="button" data-toggle="button" aria-pressed="false" autocomplete="off")#strict.btn.btn-primary.myButton
              h3 Strict Mode
              #strict-alert




script(src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous")
script(src="/js/scripts.js")
