/* line 3, /home/george/Desktop/Simon/src/sass/main.scss */
body {
  color: #0000FF; }

/* line 7, /home/george/Desktop/Simon/src/sass/main.scss */
.box {
  width: 300px;
  height: 300px;
  border: 2px solid black; }

/* line 13, /home/george/Desktop/Simon/src/sass/main.scss */
#green {
  background-color: green; }

/* line 15, /home/george/Desktop/Simon/src/sass/main.scss */
#red {
  background-color: red; }

/* line 17, /home/george/Desktop/Simon/src/sass/main.scss */
#yellow {
  background-color: yellow; }

/* line 19, /home/george/Desktop/Simon/src/sass/main.scss */
#blue {
  background-color: blue; }
